*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5{
    font-family: 'Electrolize', sans-serif;



}


/* css navbar start */

.bgcustom{
    background: linear-gradient(to right, rgba(4, 4, 4, 0.5) ,rgba(4,4,4,0.5)) !important;
   
}

.bgscrolled{
    background-color: black !important;
}

.txtcolor{
    color: rgba(255, 196, 81, 1) !important ;
}
/* rgba(255, 196, 81, 1) */
.logonav{
    width: 50px;
}



.brgold{
    border: 2px solid rgba(255, 196, 81, 1);
}

.brgold:hover{
    color:black;
    background-color: rgba(255, 196, 81, 1);
    border: 2px solid black;
}



.brgold1:hover{
    border: 2px solid rgba(255, 196, 81, 1);
}

.hovergold:hover{
    color: rgba(255, 196, 81, 1) !important;
}

/* css header */
.bgheader{
    background-color: black;
    height: 100vh;
}



/* css navbar end */

.header
{
    background: #111;
    min-height: 100vh;
}
.header .bannerVideo
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header .bannerVideo video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
.header .bannerVideo video.active
{
    opacity: 1;
}
.containerVideos
{
    position: relative;
    padding: 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}
.containerVideos::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 50%;
    height: 100%;
    backdrop-filter: blur(15px);
    box-shadow: 10px 0 15px rgba(0,0,0,0.05);
}

.containerVideos .content
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.containerVideos .content .bannerText
{
    position: relative;
    max-width: 700px;
}
.containerVideos .content .bannerText div
{
    display: none;
    transition: 0.5s ease-in-out;
}
.containerVideos .content .bannerText div.active
{
    display: initial;
}
.containerVideos .content .bannerText div h2
{
    color: #fff;
    font-size: 6em;
    line-height: 1em;
    font-weight: 700;
}
.containerVideos .content .bannerText div p
{
    color: #fff;
    font-size: 18px;
    margin: 20px 0;
}
.sci
{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.sci li a:hover 
{
    background: #f5f5f5;
}
.sci li a img
{
    display: inline-block;
    max-height: 24px;
}
.controls
{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}
.controls li
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
}
.controls li:hover 
{
    background: #f5f5f5;
}
.menuIcon
{
    display: none;
}


/*  Now, make it responsive */
@media (max-width:991px)
{
    .container
    {
        padding: 20px;
    }
    .container::before
    {
        width: 100%;
    }
    .container header
    {
        padding: 10px 20px;
    }
    .container .content .bannerText
    {
        max-width: 100%;
    }
    .container .content .bannerText div h2
    {
        font-size: 3em;
    }
    .container .content .bannerText
    {
        text-align: center;
    }
    .container header ul
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 1000;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container header.active ul
    {
        display: flex;
    }
    .container header ul li 
    {
        text-align: center;
        margin: 10px;
    }
    .container header ul li a
    {
        color: #333;
        font-size: 1.5em;
    }
    .container header ul li a:hover 
    {
        color: #f00;
    }
    .menuIcon
    {
        position: fixed;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        display: initial;
        z-index: 10000;
        background: #fff url(/media/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuIcon.active
    {
        background: #fff url(/media/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .sci li a
    {
        width: 50px;
        height: 50px;
    }
    .controls li
    {
        width: 60px;
        height: 60px;
    }
}
.bgCustom1{
    background-color: rgb(235, 212, 112) !important ;
    
}

.messaggi{

    margin-top: 100px;
    z-index: 999999;
    width: 400px;
    height: 50px;
    right: 32px;
}

.bordcustom{
    border-left: 3px solid rgb(235, 212, 112);
}

.bgall{
    background-color: #ecebeb;
}

.text-shadow{
    text-shadow: 2px 0 0 rgb(235, 212, 112), -2px 0 0 rgb(235, 212, 112), 0 2px 0 rgb(235, 212, 112), 0 -2px 0 rgb(235, 212, 112), 1px 1px rgb(235, 212, 112), -1px -1px 0 rgb(235, 212, 112), 1px -1px 0 #ebd470, -1px 1px 0 rgb(235, 212, 112);
    letter-spacing: 3px;
}

.subtext1{
    font-size: 18px !important;
    color: orange !important;
}

.iconacustom{
    filter: invert(100%) sepia(57%) saturate(0%) hue-rotate(188deg) brightness(114%) contrast(101%);
}
.iconacustom:hover{
    filter: invert(90%) sepia(87%) saturate(480%) hue-rotate(329deg) brightness(97%) contrast(89%);
}

.custum-button-top{
    bottom: 10px;
    right: 50px;
  background-color:black;
  position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 100000;
    border: 4px solid var(--main);
    padding: 8px
  
   
  }
  @media only screen and (max-width: 720px)  {
    .custum-button-top{

        right: 20px;

    }  

  }

  .rotazione{
      transform: rotateY(180deg);
  }

  .scalingcustom:hover{
      transform: scale(1.1);
      transition: 0.5s;
  }

  #card-last-img {
      display: none;
  }
  .card-body:hover #card-first-img {
    display: none;

 
  }
  .card-body:hover #card-last-img {
    display: block;
    
  }

  #card-last-img1 {
    display: none;
}
.card-body:hover #card-first-img1 {
  display: none;

}
.card-body:hover #card-last-img1 {
  display: block;
  
}

#card-last-img2 {
    display: none;
}
.card-body:hover #card-first-img2 {
  display: none;

}
.card-body:hover #card-last-img2 {
  display: block;
  
}

#card-last-img3 {
    display: none;
}
.card-body:hover #card-first-img3 {
  display: none;

}
.card-body:hover #card-last-img3 {
  display: block;
  
}

body , html{

overflow-x: hidden;

}
.btn-revisor{

    height: 40px;
    width:  100px;
}

.background-revisor{
 background-color: #111;


}